body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #070726;
    color: white;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #0f1035;
    padding: 25px;
}

.menu li {
    list-style: none;
    margin: 12px 0;
}

.menu a {
    display: block;
    padding: 10px;
    border-radius: 8px;
    color: #cfcfff;
    text-decoration: none;
}

.menu .active a {
    background: #4a6cf7;
    color: white;
}

/* MAIN */
.main {
    flex: 1;
    padding: 30px;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BUTTON */
.btn {
    background: linear-gradient(135deg, #4a6cf7, #6c8cff);
    border: none;
    padding: 12px 20px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* WRAPPER */
.settings-wrapper {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

/* LEFT MENU */
.settings-menu {
    width: 220px;
    background: #0f1035;
    padding: 15px;
    border-radius: 12px;
}

.settings-menu button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: transparent;
    color: #cfcfff;
    text-align: left;
    cursor: pointer;
}

.settings-menu .active {
    background: #4a6cf7;
    color: white;
}

/* CONTENT */
.settings-content {
    flex: 1;
    background: #0f1035;
    padding: 25px;
    border-radius: 12px;
}

/* PROFILE */
.profile-card {
    background: #14144a;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 25px;
}

.avatar {
    width: 70px;
    height: 70px;
    background: #4a6cf7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* FORM */
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form input,
.form select {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #e6e8f0;
    color: black;
}

/* TOGGLES */
.toggle-card {
    background: #14144a;
    padding: 20px;
    border-radius: 14px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.switch {
    position: relative;
    width: 45px;
    height: 22px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    background: #555;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.slider:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    top: 2px;
    left: 3px;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background: #4a6cf7;
}

input:checked + .slider:before {
    transform: translateX(22px);
}